<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <footer>
            <!-- this is footer -->
            <div class="container bo">
                <br/>
                <div class="row centered">
                    <div class="col-lg-4 col-sm-4">
                        <i class="fa fa-heart"></i>
                        <h4>Design</h4>
                        <p>The whole design was made around the standard Windows picture.</p>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <i class="fa fa-laptop"></i>
                        <h4>Computers</h4>
                        <p>All the work I did on my laptop. And also thanks Heroku for hosting.</p>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <i class="fa fa-trophy"></i>
                        <h4>Help</h4>
                        <p>Special thanks to the Internet for the provided training materials.</p>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
        </footer>
    </div>

</div>
</body>
</html>