<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}"
              href="../../css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}"
              href="../../css/font-awesome.min.css" />
        <link rel="stylesheet" th:href="@{css/main.css}"
              href="../../css/main.css" />
        <!--<link rel="stylesheet" type="text/css"-->
              <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />-->
    </div>
</head>
<body>
<div th:fragment="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  th:href="@{/}">Alexander Ki<i style="font-size: 24px" class="fa fa-facebook"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li th:class="${links}=='index'?'active':''" ><a href="/">Home</a></li>
                    <li th:class="${links}=='secret'?'active':''"><a href="/secret">Edit news</a></li>
                    <li th:if="${#authentication.getName()}!='anonymousUser'" th:class="${links}=='secret2'?'active':''">
                        <a href="/secret2">My news</a></li>
                    <li th:class="${links}=='login'?'active':''">
                        <a th:href="${#authentication.getName()}!='anonymousUser'?'/logout':'/login'"
                                th:text="${#authentication.getName()}!='anonymousUser'?'Sign out ('
                                +${#authentication.getName()}+')':'Sign in'">Sign</a></li>
                    <li th:if="${#authentication.getName()}=='anonymousUser'" th:class="${links}=='register'?'active':''">
                        <a href="/register">Register</a></li>
                    <li><a href="mailto:alexander_kif@mail.ru?subject=From%20SahaSpring%20site" target="_blank">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>