<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${titl}">Title</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8" id="headerwrap">
                <h1>SpringBoot</h1>
                <h2>I try to use Spring</h2>
                <h2>Secret page</h2>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
