<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${titl}">Title</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8" id="headerwrap">
                <h1>SpringBoot</h1>
                <h2 th:if="${titl}!='Added' and ${titl}!='Not added'">I try to use Spring</h2>
                <h2 th:if="${titl}=='Added'">Added. Please sign in.</h2>
                <h2 th:if="${titl}=='Not added'">Add user failed.</h2>
                <br/>

                <div th:remove="tag" th:utext="${lform}"></div>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
