<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${titl}">Title</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div>
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8" id="headerwrap">
                <h1>News board</h1>
                <h2 th:if="${titl}!='Added' and ${titl}!='Not added'">(You can register and add your article)</h2>
                <h2 th:if="${titl}=='Added'">Added. Please sign in.</h2>
                <h2 th:if="${titl}=='Not added'">Add user failed.</h2>
                <br/>
                <div class="container index">
                    <div class="form-group row" th:each="doc:${docs}">
                        <label class="col-sm-8 col-form-label col-sm-offset-2 lefted"><h3
                                th:text="${doc.titledoc}"></h3></label>
                        <div class="col-sm-offset-1 col-sm-10 lefted" th:text="${doc.textdoc}"/>
                        <div class="col-sm-offset-1 col-sm-10 lefted">
                            <h6 class="lefted" th:text="${#strings.substring(doc.datedoc,0,16)}"></h6>
                        </div>
                    </div>
                    <br/>
                    <div class="form-group row">
                    <span th:each="p : ${#numbers.sequence( 1, pages)}">
                        <a th:text="${p}" th:href="@{'/index?page='+${p}}"
                           th:class="${p}==${page}?'pageactive':'page'"></a>
                    </span>
                    </div>
                </div>

                <!--<div th:remove="tag" th:utext="${lform}"></div>-->
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
